<!--
File: urlap.html
Author: Sangare Fantha Felisha
Copyright: 2022, Sangare Fantha Felisha
Group: Szoft I N
Date: 2022-05-25
Github: https://github.com/fe-ktch/
Licenc: GNU GPL
-->
<form action="szamol.php" method="get" style="width:250px">
    <div>
        <label for="tomeg" class="form-label">Tömeg</label>
        <input type="text" name="tomeg" 
        class="form-control" id="tomeg">
    </div>
    <div>
        <label for="magassag" class="form-label">Magasság</label>
        <input type="text" name="magassag" 
        class="form-control" id="magassag">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Számít</button>
</form>